html {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  overflow-x: hidden;
}

.header_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.logoprin img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.logoprin {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 200px;
}

.loadercont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 999;
  visibility: hidden;
  -webkit-animation: visibility 3s linear;
          animation: visibility 3s linear;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #9356dc;
  -webkit-animation: spin 2s linear;
          animation: spin 2s linear;
}

.loadertitre {
  font-family: "Shrikhand", cursive;
  -webkit-animation: big 2s linear;
          animation: big 2s linear;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}

.loader::before {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-top-color: #ff79da;
  -webkit-animation: spin 3s linear;
          animation: spin 3s linear;
}

.loader::after {
  top: 25px;
  bottom: 25px;
  left: 25px;
  right: 25px;
  border-top-color: #99e2d0;
  -webkit-animation: spin 1.5s linear;
          animation: spin 1.5s linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes big {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes big {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes visibility {
  0% {
    display: block;
    visibility: visible;
  }
  100% {
    display: none;
    visibility: hidden;
  }
}

@keyframes visibility {
  0% {
    display: block;
    visibility: visible;
  }
  100% {
    display: none;
    visibility: hidden;
  }
}

.loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 1px 5px grey;
          box-shadow: inset 0px 1px 5px grey;
}

.loc-text {
  font-family: "Roboto", sans-serif;
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slogan {
  height: 250px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slogan-titre,
.slogan-text {
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 80%;
}

.slogan-text,
.slogan-titre {
  margin-bottom: 5%;
  margin-top: 2%;
}

.slogan-btn,
.btn_cmd {
  border: none;
  height: 40px;
  width: 42%;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  color: white;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  cursor: pointer;
}

.slogan-btn:hover,
.btn_cmd:hover {
  background: #ff93e1;
}

.titrefonc {
  padding: 10% 2%;
}

.fonct {
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__num {
  position: relative;
  right: 10px;
  width: 20px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
}

.cardfonct-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  width: 330px;
  height: 65px;
  border-radius: 20px;
  cursor: pointer;
}

.cardfonct-body:hover {
  background-color: #f5edff;
}

.cardfonct-body:hover i {
  color: #9356dc;
}

.card__txt {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-right: 20px;
}

.restaurants {
  width: 100%;
  padding: 0 2%;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.new {
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 10px;
}

.titre {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.cardrest, a {
  position: relative;
  height: 100%;
  width: 96%;
}

.cardrest img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.cardrest-body {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 10px 0px #dcdcdc;
          box-shadow: 0px 0px 10px 0px #dcdcdc;
  border-radius: 0 0 15px 15px;
}

.cardrest-txt {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.card-heart {
  position: relative;
  font-weight: lighter;
  font-size: 30px;
  height: 30px;
  cursor: pointer;
}

.card-heart:hover .fas.fa-heart {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.far.fa-heart {
  position: absolute;
}

.fas.fa-heart {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(to bottom left, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

footer {
  height: 200px;
  background-color: #535353;
  color: #ffffff;
}

.omfp {
  font-size: 20px;
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}

.mepfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
  padding-left: 5%;
  gap: 10px;
  margin-top: 15%;
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot p {
  padding-left: 2%;
}

.menu_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  gap: 50px;
}

.menu_header a {
  width: 10%;
}

.menu-logo {
  font-family: "Shrikhand", cursive;
}

.menu-icon {
  font-size: 22px;
}

.img_menu {
  position: relative;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 350px;
}

.menu {
  width: 90%;
  margin-top: -6rem;
  z-index: 1;
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 5%;
  gap: 20px;
}

.menu_entrees,
.menu_plat,
.menu_dessert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.menu_mep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_mep .menu_titre {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 25px;
}

.menu_titre_secondaire {
  font-family: "Roboto", sans-serif;
  color: grey;
  border-bottom: #99e2d0 solid 2px;
  width: 15%;
}

.menu_card {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #dcdcdc;
          box-shadow: 0px 0px 10px 0px #dcdcdc;
  -webkit-animation: approg 1s linear;
          animation: approg 1s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  cursor: pointer;
}

.menu_card:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.menu_card:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.menu_card:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.menu_card .menu_card_titre {
  width: 100%;
  font-size: 15px;
  padding-left: 5%;
  margin-bottom: 2%;
  margin-left: 0%;
  margin-right: 0%;
}

@-webkit-keyframes approg {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes approg {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.menu_card_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_card_txt .menu_card_txt_titre {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  color: grey;
  font-size: 12px;
  padding-left: 5%;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu_card_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0 5%;
}

.btn_cmd {
  margin: 0 25%;
  width: 50%;
  cursor: pointer;
}

.mep {
  padding: 3% 0;
  width: 85%;
}

.check {
  width: 20%;
  margin-right: -20%;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  color: white;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.menu_card:hover .check {
  margin-right: 0;
}

.mepfooter1 {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
  padding-left: 5%;
  gap: 10px;
}
/*# sourceMappingURL=style.css.map */